<% signal = "class=#{resa.status}" unless resa.status.nil? %>
    <% valeur = "checkin" %>
    <% valeur = "normal" if resa.status == "checkin" %>
    <li <%= signal %>><%= link_to resa.name_with_details, edit_resa_path(resa) %>
      <% resa.status = valeur %>
      <%= link_to valeur, resa_path(resa,format: :json,resa:{status: valeur}), :method=> :put, class: "checkin button tiny alert", remote: true %></li>