<h1>Modifier la réservaton :</h1>
<p id="notice"><%= notice %></p>

<%= render 'form' %>

<%= link_to 'Effacer', @resa, method: :delete, data: { confirm: 'Cette réservation va être effacée !' } %>
<%= link_to 'Back', resas_path %>
